<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div *ngIf="isShow" class="row" id="roadmap-info-wrapper">
    <div class="col-md-12 no-padding">
        <table class="roadmap-info">
            <thead>
                <tr>
                    <th>Km</th>
                    <th>Km/h</th>
                    <th>Thời gian</th>
                    <th>Tổng Km</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ info.km }}</td>
                    <td>{{ info.kmph }}</td>
                    <td>{{ info.time }}</td>
                    <td>{{ info.totalKm }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
