<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div *ngIf="isShow" id="profile" role="dialog" class="warning-dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="onClick($event)">&times;</button>
                <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span>{{ title }}</h4>
            </div>
            <div class="modal-body">
                <ul *ngIf="deviceList.length > 0" class="list-warning">
                    <li *ngFor="let marker of deviceList">
                        <span class="warning-text" *ngIf="marker.isExpired == 1">Thiết bị {{ marker.deviceNumber }} sẽ hết hạn vào ngày {{ marker.expiredDate}}</span>
                        <span class="warning-text" *ngIf="marker.isExpired == 2">Thiết bị {{ marker.deviceNumber }} sẽ bị khoá vĩnh viễn sau ngày {{ marker.expiredDate}}</span>
                    </li>
                </ul>                
            </div>
            <div class="modal-footer">
                <p class="hotline">Hotline: 0919919512</p>
                <button type="submit" class="btn btn-default btn-default pull-right" data-dismiss="modal" (click)="onClick($event)">
                    <span class="glyphicon glyphicon-remove"></span> Close</button>
            </div>
        </div>
    </div>
</div>