<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div class="wrapper-map" class="row">
    <div id="map-section" class="col-md-10">
        <agm-map [mapDraggable]="mapDraggable" (mapClick)="onClick($event)"  (mapReady)="onMapReady($event)" [fitBounds]="mapBounds" [maxZoom]="16">
            <agm-marker *ngFor="let m of toArray()"
                        (markerClick)="onClick(m)"
                        [visible]="m.visible"
                        [title]="m.deviceNumber"
                        [latitude]="m.currentLocation != null ? m.currentLocation.lat : 0"
                        [longitude]="m.currentLocation != null ? m.currentLocation.lng : 0">
            </agm-marker>
        </agm-map>
    </div>
    <div id="control-section" class="col-md-2">
        <device-control [listDevice]="toArray()">Control device</device-control>
    </div>
</div>
