<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div class="wrapper-map" class="row">
    <div id="map-section" class="col-md-9">
        <agm-map [mapDraggable]="mapDraggable" (mapReady)="onMapReady($event)" [fitBounds]="isRoadmap ? mapRoadmapBounds : mapBounds" [maxZoom]="16">
            <agm-marker *ngFor="let m of toArray()"
                        [visible]="m.visible && !isRoadmap"
                        [title]="m.deviceNumber"
                        [latitude]="m.currentLocation != null ? m.currentLocation.lat : 0"
                        [longitude]="m.currentLocation != null ? m.currentLocation.lng : 0">
                <agm-info-window>
                    <div class="marker-info row">
                        <span class="col-xs-6">Thời gian:</span><span class="col-xs-6">{{ m.currentLocation.time }}</span>
                        <span class="col-xs-6">Trạng thái:</span><span class="col-xs-6">{{ m.currentLocation.status }}</span>
                    </div>
                </agm-info-window>
            </agm-marker>
            <agm-marker *ngFor="let mk of roadmapMarkers; let i = index" [attr.data-index]="i"
                        [visible]="isRoadmap"
                        [title]="roadmapSelectedMarker.deviceNumber"
                        [latitude]="mk.lat"
                        [iconUrl]="i == 0 ? icon_roadmap_start : (i == (roadmapMarkers.length - 1) ? icon_roadmap_end : icon_roadmap)"
                        [longitude]="mk.lng">
                <agm-info-window>
                    <div class="marker-info row">
                        <span class="col-xs-6">Thời gian:</span><span class="col-xs-6">{{ mk.time }}</span>
                        <span class="col-xs-6">Trạng thái:</span><span class="col-xs-6">{{ mk.status }}</span>
                    </div>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </div>
    <div id="control-section" class="col-md-3">
        <div class="row">
            <div class="col-lg-12">
                <ul class="tabs">
                    <li id="real-time-tab" class="tab active" data-target="#real-time" (click)="onChangeTab($event)">Trạng thái</li>
                    <li id="roadmap-tab" class="tab" data-target="#roadmap" (click)="onChangeTab($event)">Lộ trình</li>
                </ul>
            </div>
        </div>
        <div class="row tab-pane" id="real-time">
            <div class="col-md-12">
                <device-control [listDevice]="toArray()" [is_radio]="false">Control device</device-control>
            </div>
        </div>
        <div class="row tab-pane hide" id="roadmap">
            <div class="col-md-12">
                <device-control [listDevice]="toArray()" (onSelectedDevice)="onDeviceSelected($event)" [is_radio]="true">Control device</device-control>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>Từ:</label>
                        <input [(ngModel)]="date_from"
                               ngui-datetime-picker
                               date-format="DD-MM-YYYY hh:mm"
                               minute-step="5"
                               [close-on-select]="false"/>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>Đến:</label>
                        <input [(ngModel)]="date_to"
                               ngui-datetime-picker
                               date-format="DD-MM-YYYY hh:mm"
                               minute-step="5"
                               [close-on-select]="false"/>
                    </div>
                    <div class="form-group col-lg-6 col-md-12">
                        <button class="btn btn-primary" id="view-roadmap" (click)="onViewRoadmap($event)">Xem lộ trình</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
