<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div class="row content-wrapper">
    <div id="map-section" class="col-md-9 col-sm-12">
        <div class="row">
            <agm-map [mapDraggable]="mapDraggable" (mapReady)="onMapReady($event, map)" [fitBounds]="isRoadmap ? mapRoadmapBounds : mapBounds"
                     [maxZoom]="17" [latitude]="lat" [longitude]="lng" [zoom]="zoom" #map>
                <agm-marker class="marker-device {{ m.currentLocation.headingClass }}" *ngFor="let m of toArray()"
                            [visible]="m.visible && !isRoadmap"
                            [title]="m.deviceNumber"
                            [label]="m.deviceNumber"
                            [latitude]="m.currentLocation != null ? m.currentLocation.lat : 0"
                            [longitude]="m.currentLocation != null ? m.currentLocation.lng : 0"
                            [iconUrl]="getStatusIcon(m.currentLocation)"
                            [openInfoWindow]="false"
                            (markerClick)="onMarkerClick($event, m.currentLocation, infowindow)" #marker>
                    <agm-info-window hostMarker="marker" #infowindow>
                        <div class="marker-info row" *ngIf="m.currentLocation != null">
                            <span class="col-xs-12 time"><strong>{{ m.currentLocation.time }}</strong></span>
                            <span class="col-xs-4 label">Trạng thái:</span><span class="col-xs-8 content">{{ m.currentLocation.status }}</span>
                            <span *ngIf="m.currentLocation.state != ''"  class="col-xs-4 label">Thời gian:</span><span class="col-xs-8 content">{{ m.currentLocation.state }}</span>
                            <span class="col-xs-4 label">Vận tốc:</span><span class="col-xs-8 content">{{ m.currentLocation.velocity }} km/h</span>
                            <span class="col-xs-4 label">Tọa độ:</span><span class="col-xs-8 content">{{ m.currentLocation.lat}}, {{m.currentLocation.lng}}</span>
                            <span *ngIf="m.currentLocation.address != '' && m.currentLocation.address != null" class="col-xs-4 label">Địa chỉ:</span><span class="col-xs-8 content">{{ m.currentLocation.address }}</span>
                        </div>
                    </agm-info-window>
                </agm-marker>
                <!--<agm-marker class="marker-device-roadmap {{ mk.headingClass }}" *ngFor="let mk of roadmapMarkers; let i = index" [attr.data-index]="i"-->
                            <!--[visible]="isRoadmap"-->
                            <!--[title]="roadmapSelectedMarker.deviceNumber"-->
                            <!--[latitude]="mk.lat"-->
                            <!--[iconUrl]="getRoadmapPin(i, mk)"-->
                            <!--[longitude]="mk.lng"-->
                            <!--(markerClick)="onMarkerClick($event, mk)">-->
                    <!--<agm-info-window>-->
                        <!--<div class="marker-info row">-->
                            <!--<span class="col-xs-12"><strong>{{ mk.time }}</strong></span>-->
                            <!--<span class="col-xs-4 label">Trạng thái:</span><span class="col-xs-8 content">{{ mk.status }}</span>-->
                            <!--<span *ngIf="mk.status != ''"  class="col-xs-4 label">Thời gian:</span><span class="col-xs-8 content">{{ mk.state }}</span>-->
                            <!--<span class="col-xs-4 label">Vận tốc:</span><span class="col-xs-8 content">{{ mk.velocity }}</span>-->
                            <!--<span class="col-xs-4 label">Tọa độ:</span><span class="col-xs-8 content">{{ mk.lat}}, {{mk.lng}}</span>-->
                            <!--<span *ngIf="mk.address != '' && mk.address != null" class="col-xs-4 label">Địa chỉ:</span><span class="col-xs-8 content">{{ mk.address }}</span>-->
                        <!--</div>-->
                    <!--</agm-info-window>-->
                <!--</agm-marker>-->
                <!--<agm-polyline [visible]="isRoadmap" [strokeColor]="'#00B3FD'" [strokeOpacity]="0.8">-->
                    <!--<agm-polyline-point *ngFor="let mk of roadmapMarkers;" [latitude]="mk.lat" [longitude]="mk.lng">-->
                    <!--</agm-polyline-point>-->
                <!--</agm-polyline>-->
            </agm-map>
        </div>
        <roadmap-info #roadmapInfo></roadmap-info>

    </div>
    <div id="control-section" class="col-md-3 col-sm-3">
        <nouislider [connect]="true" [min]="0" [max]="10" [step]="1"
                    [(ngModel)]="rangeVel" *ngIf="canPlayRoadmap == true"
                    (ngModelChange)="onChangeReviewSpeed($event)" class="mobile-only slider-mobile"></nouislider>
        <button class="btn btn-primary mobile-only" id="play-roadmap-mobile" (click)="onPlayRoadmap($event)" *ngIf="isRoadmap && canPlayRoadmap == true && !isPlayingRoadmap">
            <i class="fa fa-play" aria-hidden="true"></i></button>
        <button class="btn btn-primary mobile-only" id="stop-roadmap-mobile" (click)="onStopRoadmap($event)" *ngIf="isRoadmap && canPlayRoadmap == true">
            <i class="fa fa-stop" aria-hidden="true"></i></button>
        <a href="#" id="control-device" class="mobile-toggle"><i class="fa fa-car" aria-hidden="true"></i></a>
        <div class="row">
            <div class="col-lg-12" id="tabs-wrapper">
                <ul class="tabs">
                    <li id="real-time-tab" class="tab active" data-target="#real-time" (click)="onChangeTab($event)">Trạng thái</li>
                    <li id="roadmap-tab" class="tab" data-target="#roadmap" (click)="onChangeTab($event)">Lộ trình</li>
                    <li id="report-tab" class="tab" data-target="#report" (click)="onChangeTab($event)">Báo cáo</li>
                </ul>
            </div>
        </div>
        <div class="row tab-pane" id="real-time">
            <div class="col-md-12">
                <device-control [listDevice]="toArray()" [is_radio]="false" (onSelectedDevice)="panToMarker($event)">Control device</device-control>
            </div>
        </div>
        <div class="row tab-pane hide" id="roadmap">
            <div class="col-md-12 list-device-roadmap">
                <device-control [listDevice]="toArray()" (onSelectedDevice)="onDeviceSelected($event)" [is_radio]="true">Control device</device-control>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>Từ:</label>
                        <input [(ngModel)]="date_from"
                               ngui-datetime-picker
                               date-format="DD-MM-YYYY HH:mm"
                               hour="23"
                               minute="59"
                               [close-on-select]="false"/>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>Đến:</label>
                        <input [(ngModel)]="date_to"
                               ngui-datetime-picker
                               date-format="DD-MM-YYYY HH:mm"
                               hour="23"
                               minute="59"
                               [close-on-select]="false"/>
                    </div>
                    <div class="form-group col-lg-12 web-only">
                        <nouislider [connect]="true" [min]="0" [max]="10" [step]="1"
                                    [(ngModel)]="rangeVel" *ngIf="canPlayRoadmap == true"
                                    (ngModelChange)="onChangeReviewSpeed($event)"></nouislider>
                    </div>
                    <div class="form-group col-lg-12 col-md-12">
                        <button class="btn btn-primary" id="view-roadmap" (click)="onViewRoadmap($event)">Xem lộ trình</button>
                        <button class="btn btn-primary web-only" id="play-roadmap" (click)="onPlayRoadmap($event)" *ngIf="canPlayRoadmap == true && !isPlayingRoadmap">Xem lại lộ trình</button>
                        <button class="btn btn-primary web-only" id="stop-roadmap" (click)="onStopRoadmap($event)" *ngIf="canPlayRoadmap == true">Dừng</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row tab-pane hide" id="report">
            <general-report [listDevice]="toArray()">Loading Component</general-report>
        </div>
    </div>
    <popup #devicePopup></popup>
</div>

